#nav {
  background-color: gray;
}
#screen{
  background-color: black;
  border: .25em solid black;
  margin: 1em 10em;
  padding: .75em;
}
#container{
  background-color: yellow;
}
#wrapper{
  text-align: center;
}
#seating-chart-left{
  text-align: center;
  display: inline-block;
  padding-left:

}
#seating-chart-right{
  text-align: center;
  display: inline-block;

}
#right-seats{
  padding-right: .5em;
}
.col-lg-6{
  padding:1.5em;
}
#test{
  display: block;
  background: blue;
}
.btn-group-lg{
  background-color: blue;
  padding: 2em 2em 2em 1em;
  }

.row{
  background-color: red;
}

.seat{
  background-color: blue;
}

/*form*/
#envelope{
  width: 55%;
  margin: 10px 30% 10px 25%;
  padding:10px 0;
  border: 2px solid gray;
  border-radius:10px;
}
form{
  width:70%;
  margin:4% 15%;
}

input[type=text]{
  margin-bottom: 20px;
  margin-top: 10px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #7ac9b7;
}
input[type=submit]
{
  margin-bottom: 20px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #7ac9b7;
  background-color: #4180C5;
  color: aliceblue;
  font-size:15px;
  cursor:pointer;
}
#submit:hover
{
  background-color: black;
}
textarea{
  width:100%;
  padding: 15px;
  margin-top: 10px;
  border:1px solid #7ac9b7;
  border-radius:5px;
  margin-bottom: 20px;
  resize:none;
}
input[type=text]:focus,textarea:focus {
  border-color: #4697e4;
}

/*end form*/

#footer{
  background-color: grey;
}
#footer ul li {
list-style-type: none;
/*display: inline-block;*/
text-align: center;
}
#footer li{
  text-decoration: none;
  text-align: center;
}
