/*Nav*/
#nav {
  background-color: #2396CE;
  color: white;
  padding:.5em;
}
#nav a {
    text-decoration: none;
    color: white;
  }
#nav:hover{
  color:black;
}
#nav ul {
  color: white;
}
.page-header{
  padding: 0em 1em;
}
.page-header-content{
  padding: 0em 2em;
}
/* content*/
#container{
  background-color: #D0D1D1;
  /*border: solid;*/ /*only used this as a test*/
}

#screen{
  background-color: black;
  border: .25em solid black;
  margin: 1em 10em;
  padding: .75em;
  border-radius: .35em;
}

#wrapper{
  text-align: center;
  /*border: solid;*/ /*only used this as a test*/
}
#seating-chart-left{
  text-align: center;
  color: white;
  border-radius: .5em;
}
#left-seats{
  background-color: #4E5967;
  opacity: .75;
  border-radius: .5em;
}
#seating-chart-right{
  text-align: center;
  color: white;
  border-radius: .5em;
}
#right-seats{
  background-color: #4E5967;
  opacity: .75;
  border-radius: .5em;
}
.col-lg-6{
  padding:1.5em;


}
.btn-group-lg{
  color: blue;
  border-radius: .7em;
  padding: 2em 2em 2em 1em;
}
/*end of content */

/*form*/

form{
  width:70%;
  margin:4% 15%;
}

input[type=text]{
  margin-bottom: 20px;
  margin-top: 10px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #2396CE;
}
input[type=submit]
{
  margin-bottom: 20px;
  width:100%;
  padding: 15px;
  border-radius:5px;
  border:1px solid #2396CE;
  background-color: #2396CE;
  color: aliceblue;
  font-size:16px;
  cursor:pointer;
}

textarea{
  width:100%;
  padding: 15px;
  margin-top: 10px;
  border:1px solid #2396CE;
  border-radius:5px;
  margin-bottom: 20px;
  resize:none;
}
input[type=text]:focus,textarea:focus {
  border-color: #2396CE;
}

/*end form*/

#footer{
  background-color: #2396CE;
  padding: 1em;
}
#footer ul li {
list-style-type: none;
text-align: center;
color: white;
}
#footer li{
  text-decoration: none;
  text-align: center;
}
#footer a {
  text-decoration: none;
  color: white;
  font-size:16px;

}
